<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head> 
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${title}"></title>

<body>
	<h1 th:text="${title}"></h1>
	<ul>
		<li th:text="${user.name + ' ' + user.lastName}"></li>
		<li th:text="${user.lastName}"></li>
		<li th:if="${!(user.email == null)}" th:text="${user.email}"></li>
		<li th:if="${user.email == null}" th:text="${'No tiene correo'}"></li>
	</ul>
	
	<a th:href="@{/list}">Ver listado</a>
	<a th:href="@{/api/params/foo(mensaje=${title})}">Ver mensaje</a>
	<a th:href="@{/api/params/bar(text=${title},code=2345)}">Ver multiples parametros</a>
	<a th:href="@{/api/var/baz/{message}(message=${title})}">Ver path variable</a>
</body>
</html>